.card{
    width: 18rem;
    overflow: hidden;
}

img.card {
    min-width: 21rem;
}

.nowrap{
    flex-wrap: nowrap !important;
    width: 100vw;
}

.container{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 1rem;

}

