/* 
    General Styles
*/
body{
    background-color: black;
}
nav {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #ffdf80;
}

.color-white{
    color: white;
}

.card-img-top{
    background-image: url(https://starwars-visualguide.com/assets/img/big-placeholder.jpg);
}